*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.scoreboard{
    display: grid;
    background-color: aqua;

}